.cocktailDetail {
    background-color: #ebf5f3; 
    color: #2d2d2d; 
    font-family: 'Arial', sans-serif; 
    max-width: 800px; 
    margin: 20px auto; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .DetailH {
    color: #3d3f3f; 
    margin-bottom: 10px; 
  }
  
  .CocktailImg {
    width: 100%; 
    max-width: 400px; 
    height: auto; 
    display: block; 
    margin: 10px auto; 
    border-radius: 8px; 
  }
  
  .CocktailP {
    text-align: left; 
    margin: 15px 0; 
  }
  
  .CocktailH2 {
    text-align: left; 
    margin: 15px 0; 
    color: rgb(21, 22, 23);
  }

  ul {
    list-style: none; 
    padding: 0; 
  }
  
  li {
    background-color: #a9e6d7; 
    margin: 5px 0; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
  }
  
  .btn {
    cursor: pointer;
    color: rgb(213, 235, 231);
    background:rgb(9, 93, 76);
    border: transparent;
    border-radius: 30px; 
    letter-spacing: normal;
    padding: 0.375rem 0.75rem;
    box-shadow: #a9e6d7;
    transition: var(transition);
    text-transform: capitalize;
    display: inline-block;
    text-decoration: none;
  }

  .btn:hover {
    background:  #06402f;
    box-shadow: #105f4f;
  }

  @media (min-width: 768px) {
    .cocktailDetail {
      padding: 30px; 
    }
  
    .DetailH {
      font-size: 2em; 
    }
  
    .CocktailP {
      font-size: 1.1em; 
    }

    .CocktailH2 {
        font-size: 1.1em; 
      }
  }
  