

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



.Cocktail-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 0.5rem;
	overflow: hidden;
	background-color: #d4e115;
}



 
  body {
   margin: 0 ;
   padding: 0;
   font-family: Arial, sans-serif;
   background-color:var(--bodycolor)

   
   
  } 
  body[data-theme="light"]{
    --primary: white;
    --nav: rgb(58, 124, 58);
    --white:white;
    --navBackGround: #1E211F;
    --link:#70be77;
    --linkHover:#444;
    --text:#333;
    --header:#393c3c;
    }
    body[data-theme="dark"]{
      --primary: rgb(14, 14, 14);
    --nav: rgb(215, 239, 215);
    --white:rgb(19, 17, 17);
    --navBackGround: #07BB43;
    --link:#1a362f;
    --linkHover:#444;
    --text:rgb(244, 238, 48);
    --header:rgb(244, 238, 48);
    }
    
   nav {
   background-color:rgb(58, 124, 58);
   padding: 10px;
   text-align: center;
   }
  
   nav a {
   color: white;
   margin: 0 10px;
   }
   
  footer {
   background-color: rgb(58, 124, 58);
   color: white;
   text-align: center;
   padding: 10px;
   bottom: 0;
   width:100%;
  }
 


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar a {
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  .nav-center {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    display: flex; 
  }

  .nav-links a {
    padding: 10px;
    width: 100%;
  }

  .nav-links a:hover {
    background-color: #444;
    color: #a9e6d7;
  }

  .nav-links.show-links {
    display: flex;
  }

  footer {
    position: relative;

     
    
  }
}


@media (max-width: 480px) {
   .content {
     padding: 10px;
   }
 }
 


