
/*:root{
    --primary:#0e5643;
    --secondary: #18181B;
    --header: white;
    --bodycolor:#efe4d5;
   }
  .dark {
    --primary:#da1f1f;
    --secondary: #1818C6;
    --header: red;
    --bodycolor:#0a0a0a;
   } */
body[data-theme="light"] {
    --nam: 
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
}

a, button {
    color: #396131;
    background-color: transparent;
    text-decoration: none;
}

button {
    border: 2px solid transparent;
    padding: 10px 20px;
    cursor: pointer;
}

input, select, textarea {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
}



body[data-theme="dark"] {
    background-color: #000;
    color:  rgb(112, 112, 90);
    font-family: Arial, sans-serif;
    font-size: 18px; 
}

body[data-theme="dark"] a,
body[data-theme="dark"] button {
    color: #ff0; 
   background-color: #333; 
    border: 2px solid #ff0; 
}

body[data-theme="dark"] input,
body[data-theme="dark"] select,
body[data-theme="dark"] textarea {
    color: #000;
    background-color: #666262;
    border: 2px solid #ff0; 
}

body[data-theme="dark"] button:hover,
body[data-theme="dark"] a:hover {
    background-color: #555; 
   color: #ff0;
}


input:focus, select:focus, textarea:focus,
button:focus, a:focus {
    outline: 3px solid #ff0; 
    outline-offset: 2px;
}


 button {
    min-width: 100px;
    padding: 15px 20px;
    font-size: larger; 
   line-height: 1.5;
}


.toggle-button {
    cursor: pointer;
    background: none;
    border: 2px solid transparent;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    transition: background-color 0.2s ease, color 0.2s ease;
    display: inline-block; 
    outline: none; 
}

.toggle-button:focus {
    box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4); 
}

.toggle-button:hover {
    background-color: #f4f4f4; 
}

@media screen and (min-width: 1200px) {
    .body[data-theme="dark"] {
        font-size: 20px; 
    }
}

@media (prefers-contrast: high) {
    .toggle-button {
        background-color: black;
        color: white;
        border: 2px solid yellow;
    }

    .toggle-button:hover, .toggle-button:focus {
        background-color: yellow;
        color: black;
    }
}
