
footer {
    background-color: #266442;  
    color: #fff;             
    text-align: center;      
    padding: 20px 10px;          
    left: 0;                 
    bottom: 0;               
    width: 100%;             
    box-shadow: 0 -2px 5px rgba(237, 39, 39, 0.2); 
  }
  
  @media (max-width: 768px) {
    footer {
      padding: 10px 5px;    
      font-size: 14px;      }
  }
  